@import "tailwindcss";

:root {
  --warm-bg: #faf6f0; /* very light warm beige */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.highlight {
  position: relative;
  display: inline-block;
}

.underline {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 12px;
  pointer-events: none;
}

.underline path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: draw-line 1.2s ease-out forwards;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}